@import "tailwindcss"; /* En Tailwind v4, esto siempre va arriba */
@import url(tokens.css);
@import url(semantic.css);

@theme {
    /* ========BRAND========= */
    --color-brand: var(--semantic-brand);
    --color-brand-hover: var(--semantic-brand-hover);
    --color-brand-soft: var(--semantic-brand-soft);
    --color-brand-soft-hover: var(--semantic-brand-soft-hover);

    /* ========BACKGROUND=========== */
    --color-background: var(--semantic-background);
    --color-surface: var(--semantic-surface-muted);
    --color-background-inverse: var(--semantic-background-inverse);

    /* ========TEXT========= */
    --color-text-primary: var(--semantic-text-primary);
    --color-text-secondary: var(--semantic-text-secondary);
    --color-text-muted: var(--semantic-text-muted); /* Corregido: Se agregó 'var' */
    --color-text-inverse: var(--semantic-text-inverse); /* Corregido: Se agregó 'var' */

    /* ========BORDER========== */
    --color-border: var(--semantic-border);
    --color-border-strong: var(--semantic-border-strong);

    /* ==========FOCUS========== */
    --color-focus-ring: var(--semantic-focus-ring);
    --color-focus-border: var(--semantic-focus-border); 

    /* ===========STATE============ */
    --color-success: var(--semantic-succes); 
    --color-warning: var(--semantic-warning);
    --color-error: var(--semantic-error); /* Corregido: Cambiado a '--color-error' */

    /* =======TYPOGRAPHY=========== */
    --text-display: var(--semantic-font-size-display);
    --text-main: var(--semantic-font-size-h1);
    --text-title: var(--semantic-font-size-h2);
    --text-subtitle: var(--semantic-font-size-h3);
    --text-body: var(--semantic-font-size-body);
    --text-medium: var(--semantic-font-size-medium);
    --text-small: var(--semantic-font-size-small);
    --text-caption: var(--semantic-font-size-caption);

    /* ============FONT WEIGHT============= */
    --font-heading: var(--semantic-font-weight-heading);
    --font-body: var(--semantic-font-weight-body);
    --font-label: var(--semantic-font-weight-label);
}